#!/bin/bash

{{ $machineType := .machineType | default "biz" }}

{{ $brewfile := "bizBrewfile" }}
{{ if eq $machineType "private" -}}
{{   $brewfile = "privateBrewfile" }}
{{ end -}}

BREWFILE_PATH="{{ .chezmoi.sourceDir }}/{{ $brewfile }}"

echo "Using Brewfile: $BREWFILE_PATH"
brew bundle --file="$BREWFILE_PATH"
brew bundle cleanup --file="$BREWFILE_PATH" --force

exit 0
