{{- $machineType := promptStringOnce . "machineType" "Machine Type ('biz' or 'private')" "biz"            -}}
{{- $gitUser     := promptStringOnce . "git.user"    "Your User Name on GitHub"           "hogehoge"       -}}
{{- $gitEmail    := promptStringOnce . "git.email"   "Your User Email"                    "hoge@example.com" -}}

[data]
machineType = {{ $machineType | quote }}
configDir =   {{ joinPath .chezmoi.homeDir ".config" | quote }}

{{ if eq $machineType "biz" -}}
{{- $organization := promptStringOnce . "git.organization" "Your Organization on GitHub" "hogehoge-inc" -}}
{{- $signingkey   := promptStringOnce . "git.signingkey"   "Your GPG Signing Key"        "hogehoge"     -}}
[data.git]
user =         {{ $gitUser | quote }}
email =        {{ $gitEmail | quote }}
organization = {{ $organization | quote }}
signingkey =   {{ $signingkey | quote }}
{{- else -}}
[data.git]
user =  {{ $gitUser | quote }}
email = {{ $gitEmail | quote }}
{{- end }}
