# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-pain-control'
set -g @plugin 'nhdaly/tmux-better-mouse-mode'
set -g @plugin 'seebi/tmux-colors-solarized'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-open'
 
# Initialize TMUX plugin manager 
run -b '~/.tmux/plugins/tpm/tpm'

set-option -g mode-keys vi
set-option -g mouse on

# set default shell to fish
{{ if eq .chezmoi.os "darwin" -}}
set-option -g default-shell "/usr/local/bin/fish"
{{ else if eq .chezmoi.os "linux" -}}
set-option -g default-shell "/usr/bin/fish"
{{ end -}}

