[alias]
    st = status
    br = branch
    cm = commit
    co = checkout
[core]
    editor = /usr/bin/vim
{{ if eq .chezmoi.os "darwin" -}}
[credential]
    helper = osxkeychain
{{ end -}}
[ghq]
    root = ~/ghq/misc

# for personal repositories
[includeIf "gitdir:~/ghq/nakahararuu/"]
    path = ~/ghq/nakahararuu/.gitconfig
[ghq "https://github.com/nakahararuu"]
    root = ~/ghq/nakahararuu

# for istyle
[includeIf "gitdir:~/ghq/istyle/"]
    path = ~/ghq/istyle/.gitconfig
[ghq "https://github.com/istyle-inc"]
    root = ~/ghq/istyle

