# prefix key
set -g prefix C-a
unbind C-b

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-pain-control'
set -g @plugin 'nhdaly/tmux-better-mouse-mode'
set -g @plugin 'seebi/tmux-colors-solarized'
set -g @plugin 'laktak/extrakto'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-open'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'

# Initialize TMUX plugin manager 
run -b '~/.config/tmux/plugins/tpm/tpm'

# basic key binding
set-option -g mode-keys vi
set-option -g mouse on

# additional key binding
bind a setw synchronize-panes \; display "synchronize-panes #{?pane_synchronized,on,off}"

# default shell
set-option -g default-shell '{{ output "brew" "--prefix" "fish" | trim }}/bin/fish'

# automatic start tmux with tmux-continuum
set -g @continuum-boot 'on'
set -g @continuum-boot-options 'alacritty'
set -g @continuum-restore 'on'
set -g @resurrect-dir '$HOME/.local/state/resurrect'

# look and feel
set -g window-style 'fg=colour247,bg=colour236'
set -g window-active-style 'fg=colour250,bg=black'
set -g pane-border-style 'fg=colour235,bg=colour238'
set -g pane-active-border-style 'fg=colour51,bg=colour236'

