# prefix key
set -g prefix C-a
unbind C-b

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-pain-control'
set -g @plugin 'nhdaly/tmux-better-mouse-mode'
set -g @plugin 'seebi/tmux-colors-solarized'
set -g @plugin 'laktak/extrakto'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-open'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'

# Initialize TMUX plugin manager 
run -b '~/.config/tmux/plugins/tpm/tpm'

# basic key binding
set-option -g mode-keys vi
set-option -g mouse on

# additional key binding
bind a setw synchronize-panes \; display "synchronize-panes #{?pane_synchronized,on,off}"

# default shell
{{ if eq .chezmoi.os "darwin" }}
	{{ if eq .chezmoi.arch "arm64" }}
		set-option -g default-shell "/opt/homebrew/bin/fish"
	{{ else }}
		set-option -g default-shell "/usr/local/bin/fish"
	{{ end }}
{{ else }}
	set-option -g default-shell "/home/linuxbrew/.linuxbrew"
{{ end }}

# automatic start tmux with tmux-continuum
set -g @continuum-boot 'on'
set -g @continuum-boot-options 'iterm'
set -g @continuum-restore 'on'
set -g @resurrect-dir '$HOME/.local/state/resurrect'
