[alias]
    st = status
    br = branch
    cm = commit
    co = checkout
[core]
    editor = nvim
    pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
    helper = osxkeychain
[ghq]
    root = ~/ghq/misc
[pull]
    ff = only

# for personal repositories
[includeIf "gitdir:~/ghq/private/"]
    path = ~/ghq/private/.gitconfig
[ghq "https://github.com/{{.private.git.user}}"]
    root = ~/ghq/private

# for business repositories
[includeIf "gitdir:~/ghq/biz/"]
    path = ~/ghq/biz/.gitconfig
[ghq "https://github.com/{{.biz.git.organization}}"]
    root = ~/ghq/biz
[ghq "ssh://git@github.com/{{.biz.git.organization}}"]
    root = ~/ghq/biz

# for chezmoi source directory
[includeIf "gitdir:~/.local/share/chezmoi/"]
    path = ~/ghq/private/.gitconfig

# git-secret: prevent committing aws credentials
[init]
	templatedir = ~/.config/git/git-templates/git-secrets
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
	providers = printenv GITHUB_TOKEN

# better git-diff colors for diff-so-fancy
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
