## vi mode
fish_vi_key_bindings

## ls colors
set -U LSCOLORS gxfxcxdxbxegedabagacad

## nciscolourenco/done (ring when a command is done)
set -U __done_notify_sound 1

{{ if (eq .chezmoi.os "linux" ) }}
## for LinuxBrew of naahararuu/workspace
set -U PATH /home/linuxbrew/.linuxbrew/bin $PATH
set -U CPPFLAGS "-I/home/linuxbrew/.linuxbrew/opt/isl@0.18/include"
set -U LDFLAGS "-L/home/linuxbrew/.linuxbrew/opt/isl@0.18/lib"
{{ end }}

## asdf (multiple runtime version manager)
{{ if (eq .chezmoi.os "darwin" ) }}
source /usr/local/opt/asdf/asdf.fish
{{ else if (eq .chezmoi.os "linux" ) }}
source /home/linuxbrew/.linuxbrew/opt/asdf/asdf.fish
{{ end }}

# trash-cli
alias rm='trash'
